:root {
    --white: #fff;
    --red: #4739e6;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: var(--white);
    margin-top: 5px;
  }